{% extends "layout.html" %}
{% block body %}
<article>
    <h3>fab fun times<span class="date">7/6/2013</span></h3>
    <p>so as i continue on my magical journey to production quality <a href="http://flask.pocoo.org">flask</a>, 
        i discover my deep desire for a not dumb deployment solution.  hence, <a href="http://docs.fabfile.org/en/1.6/">fabric</a>.</p>
    <p>working with fabric, after some intial hiccups,  is actually pretty delightful. it's a library created to facilitate interaction with remote systems via ssh.  it picks up your <pre>.ssh/config</pre> and uses it right out of the box, and comes equipped with a simple vocabulary for moving around the filesystem and working with files.</p>
        <p>i intend to use this lib quite a bit, so more in depth accounts of my experience doing so will follow.</p>
</article>
<article>
    <h3>hike night:  a hike at night<span class="date">7/5/2013</span></h3>
    <p> night one was a success.  i've reconsidered posting the route.  invite only.</p>
    <p> we found a delightful little creek with some absolutely quaint industrial rubble. i was enchanted by the host of spider webs.  walking a few yards up the creek,
    i found that i couldn't take three steps without almost creaming some little spiders pad.</p>
    <p> against established expectations,  clarksville has some nice little spots.  you just have to dig. </p>
</article>
<article>
    <h3> night hike: the setup <span class="date">7/1/2013</span></h3>
    <p> 
       this 4th of july we'll be engaging in the first night hike.  should be fun.  i'll post the route below.  for extra pop,  we'll be encouraging participants to bring along their favorite fireworks. 
    </p>
</article>

<article>
    <h3> welcome to the hive mind,  nerdhaus central <span class="date">7/1/2013</span></h3>
    <p>
        a log of the activities of the haus.  see this domain for tech, culture, and a running commentary of our work and escapades.  
    </p>

    <p> also note that the blog is open for submissions.  </p>

</article>

{% endblock %}
