<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}NerdHaus{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/hljs/magula.css">
    </head>
    <body>
        <div class="wrap">
            <aside>
                {% block aside_content %}
                <a href="http://nerdha.us">
                    <div class="content">
                        <h1> NerdHaus </h1>
                        <h2> The Haus That Nerds Built </h2>
                    </div>
                </a>
                <nav>
                    <ul>
                        <li><a href="/pages/cameron">cameron</a></li>
                        <li><a href="/pages/cj">cj</a></li>
                        <li><a href="/pages/ean">ean</a></li>
                    </ul>
                </nav>
                {% endblock %}
            </aside>

            <section class="content">
                {% block body %}
                {% endblock %}
            </section>

            {% block footer %}
            {% endblock %}
        </div>
        <script src="/static/js/vendor/highlight.pack.js"></script>
        <script type="text/javascript">
            hljs.initHighlightingOnLoad();
        </script>
    </body>
</html>

