{% extends "layouts/layout.html" %}
{% block body %}
<section class="job">
    <div>
        <img src="/static/img/portfolio/qaw/imac-frame-qaw-above-fold-600.png" alt="Quick as a Wink Above the fold in an Imac frame">
    </div>
    <aside>
        <h1>Website for Quick As A Wink Speed Dating</h1>
        <p> QAAWSD needed a site to manage it's public event calendar, keep 
            track of users attending the events, take payments, and email 
            receipts.
        </p>
        <p> Features a login and account system, a blog with commenting
            system to facilitate discussion of the business' product, and
            an event management system for creating dating events at local
            venues.
        </p>
        <ul>
            <li>Built with ModX</li>
            <li>Dynamic UI Elements powered by jQuery</li>
            <li>Payment Processing with Stripe</li>
        </ul>
    </aside>
</section>
<section class="job">
    <div>
        <img src="/static/img/portfolio/jsa/imac-frame-jsa-above-fold-600.png" alt="Jumpstart Agency Above the Fold in an Imac frame">
    </div>
    <aside>
        <h1>Website for Jump Start Agency, LLC</h1>
        <p> I created this site in 2013 for a webdevelopment start up here in Clarksville.
            It served as the face of the company, providing customers with info 
            about what the firm did, and a contact form to get in touch.
        </p>
        <ul>
            <li> Responsive </li>
            <li> Built with Flask, Foundation </li>
            <li> Google Maps Integration </li>
            <li> Dynamic Elements with jQuery </li>
        </ul>
    </aside>
</section>
{% endblock %}
