{% extends "layouts/layout.html" %}
{% block body %}
<section class="job">
    <h1> Job</h1>
    <aside>
        <p> so this client told me to do some stuff, which i did, and they were tickled. lorem blah dee blah conversions, metrics, analytics api doing the dance of optimiztion and let me tell you something mister</p>
    </aside>
</section>
<section class="job">
    <h1> Job</h1>
    <aside>
    </aside>
</section>
<section class="job">
    <h1> Job</h1>
    <aside>
    </aside>
</section>
{% endblock %}
