{% extends "layouts/layout.html" %}
{% block body %}
<section class="blog">
<article>
    <header>
        <h3>on conversation</h3>
        <span class="date">7/16/2013</span>
     </header>
    
    <p> conversation is one of the most valuable resources that we engage on a daily 
    basis.  the act itself is valuable, regardless of the 
    outcome. debate, discussion, anything that transcends the simple exchange 
    of pleasantries and information (hi how are you i'm fine what can i get 
    a triple yeah you want two please six fifty thanks).</p>

    <p> even when you end up with a room (tangible <em>or</em> digital) full of 
    pissed off people.  there's a fine line, sure, because something must 
    actually have been said for that emotion to be worth a damn. but by that same 
    token:  if somebody's pissed, it's more often for a reason.  something
    was brought up that people think is worth getting pissed about. some thing
    worth a damn.
    </p>

    <p> this martin-zimmerman business matters. it makes us talk.  when we talk,
    we shape each others' opinions. we hash shit out.
    </p>

    <p> <a href="http://www.imdb.com/title/tt0375679/">Crash</a> is a good movie.  
    solid performances by talented people, a complicated but engaging yarn, and
    a meaningful shot at a potent, contemporary issue. but what really made that movie 
    magical to me was it's bordering-on-realistic (for two hours worth of movie, 
    anyway) examination of the simple causality that rules our lives.
    </p>

    <p> a word there, the flick of a pen, a simple conversation.  or a hard one.
    somebody's pissed, somebody goes home, somebody makes a phone call and your
    life is different. you can make it better, or you can make it worse.   
    </p>

    <p> people don't need to die. and when they do, it's worth making it a point 
    not to ignore it, to blow it off. talk about it. <em>at least</em> talk
    about it.
    </p>
</article>

<article>
<header>
<h3>the blog is open to contribution<span class="date">7/9/2013</span></h3>
</header>
<p> so feel free to submit something.  email it to me at <a href="mailto:n.e.lorenson@gmail.com">n.e.lorenson@gmail.com</a> and put BLOG in the subject.  be sure to note whether or not you’d like to remain anonymous.
</p>
<p> as the site grows i'll be seperating the submissions from my personal blog and placing them on their own feed. </p>
</article>
<article>
    <h3>this is your brain, organized<span class="date">7/7/2013</span></h3>
    <p> i don't know about you, but i am seriously scatterbrained. </p>
    <p> to be fair, i'm old school add, diagnosed in the early nineties (second grade, maybe?), and not just a spaz. </p>
    <p> regardless, the way my mind works has forced me to come up with ways of keeping my shit straight, and one of the most 
    powerful has been to write everything out.  principally, for me, this means writing todo lists and keeping a <a href="">wiki</a>.
    </p>
    <p> a simple todo list (i skip fancy tools here; an excel spreadsheet on google drive is way fancy enough) with columns for status,
    notes, and links anchors me to a set of things to pursue for a day.  it also provides a nice way to dump things out of my mental 
    space so that i can revisit them later.  forgetfulness is an artform that i've spent many years refining, so anything that helps 
    save brain cycles by remembering things for me is a huge boon. 
    </p>
    <p> now the wiki is my notebook, full of notes.  i use it take document, retain, and reference so many things that i learn, mainly 
    programming and business stuff. i take notes on things constantly.  read a good article on css best practices?  notes.  pick up and 
    start learning a new library?  takin' notes.  learn about a new pattern for solving a problem?  note time. 
    </p>
    <p> the more i do this, the more i fall in love with it.  it helps me track my learning arc through doing projects and picking up more
    of my craft.
    </p>
    <p> as an added bonus, i keep it public so my pain can be your gain.  this also encourages me to make it nice, real nice, so people
    will find it easy to digest and i'll never be bummed out using it.
    </p>
    <p> right now i use <a href="http://moinmo.in/">moinmoin</a>. i add to it constantly, mapping out what i know and use as i learn.
    </p>
</article>
<article>
    <h3>stupid simple flask app<span class="date">7/6/2013</span></h3>
    <p>consider <a href="http://flask.pocoo.org">flask</a>, a delightful web application framework, commonly referred to as a micro framework.</p>
    <p>firing up a running web app in flask is cake.  import the Flask class, instantiate an application object from it, define a route and view function, and call <span class="inline code">run()</span> on your app object.</p>
    <pre class="code"><code>
    from flask import Flask, render_template

    app = Flask(__name__)

    @app.route('/')
    def index():
        return render_template('index.html')

    if __name__ == '__main__':
        app.run()
    </code></pre>
    <p>
        easy peasy.  this will serve the template called <span class="inline code">
            index.html</span> at the root ('<span class="inline code">/</span>') of the domain where the app is hanging out.
    </p>
</article>
<article>
    <h3>fab fun times<span class="date">7/6/2013</span></h3>
    <p>so as i continue on my magical journey to production quality 
    <a href="http://flask.pocoo.org">flask</a>, i discover my deep desire 
    for a not dumb deployment solution.  hence, 
    <a href="http://docs.fabfile.org/en/1.6/">fabric</a>.</p>

    <p>working with fabric, after some intial hiccups,  is actually pretty 
    delightful. it's a library created to facilitate interaction with remote 
    systems via ssh.  it picks up your <span class="inline code">.ssh/config</span> 
    and uses it right out of the box, and comes equipped with a simple 
    vocabulary for moving around the filesystem and working with files.</p>

        <p>i intend to use this lib quite a bit, so more in depth accounts of my experience doing so will follow.</p>
</article>
<article>
    <h3>hike night:  a hike at night<span class="date">7/5/2013</span></h3>
    <p> night one was a success.  i've reconsidered posting the route.  invite only.</p>
    <p> we found a delightful little creek with some absolutely quaint industrial rubble. i was enchanted by the host of spider webs.  walking a few yards up the creek,
    i found that i couldn't take three steps without almost creaming some little spiders pad.</p>
    <p> against established expectations,  clarksville has some nice little spots.  you just have to dig. </p>
</article>
<article>
    <h3> night hike: the setup <span class="date">7/1/2013</span></h3>
    <p> this 4th of july we'll be engaging in the first night hike.  should be fun.  i'll post the route below.  for extra pop,  we'll be encouraging participants to bring along their favorite fireworks. 
    </p>
</article>

<article>
    <h3> welcome to the hive mind,  nerdhaus central <span class="date">7/1/2013</span></h3>
    <p> a log of the activities of the haus.  see this domain for tech, culture, and a running commentary of our work and escapades.  
    </p>
    <p> also note that the blog is open for submissions.  </p>
</article>
</section>
{% endblock %}
