/* palette */
/* peachy red */
@bg1: #C24E55;

/* cloud grey */
@bg2: #eee;

/* chill green */
@hl1: #5F8755;

/* slate grey */
@fg1: #333;

/* resets */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family:Roboto, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Source Code Pro', sans-serif;
    margin: 0;
    padding: 0;
}

a { outline: none; }

::selection {
    background: @hl1;
    color: @bg2;
}

::-moz-selection {
    background: @hl1;
    color: @bg2;
}

/* small layout */
nav.full {
    display: none;
}

nav.mobile {
    background: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    a {
        border-bottom: 1px solid #000;
        color: @bg1;
        display: block;
        text-decoration: none;
        padding: 5px 0 5px 2em;
    }
    ul { 
        transition: max-height 0.4s ease-out 0s;
        visibility: hidden;
        max-height: 0;
        padding: 0; 
    }
    li {
        list-style: none;
    }
    li:active,
    li:hover {
        background: @hl1 ;
    }
    a:hover, 
    a:active {
        color: #eee;
    }
    a.nav-toggle {
        float: right;
        padding-right: 2em;
    }
}

nav.mobile ul.active {
    max-height: 143px;
    visibility: visible;
}


section.sidebar {
    background: @bg1;
    border-top: 1px solid #F46169;
    border-bottom: 2px solid #9B3F44;
    .you-are-here {
        background: @hl1;
        border-top: 2px solid #9DE28A;
        border-bottom: 4px solid #9DE28A;
        color: @bg2;
        font-size: 1em;
        margin-bottom: -2px;
        padding: 5px;
        text-align: center;
    }
    h1,h2 {
        text-shadow: 1px 1px 0px @fg1;
        text-align: center;
    }
    h1 { color: #fff; font-size: 2em; }
    h2 {
        color: @bg2;
        font-size: 0.9em;
    }
    a {
        color: #fff;
        border-bottom: 2px solid @hl1;
        font-weight: bold;
        text-decoration: none;
    }
    p { color: @bg2; }
    p.content { margin: 1em; }
    .full { display: none; }
    strong { color: #fff; }
}

menu.grid {
    border-top: 2px solid #222;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    a { 
        background: rgba(0,0,0,0.8);
        color: @bg2;
        display: block;
        padding: 1em;
        text-decoration: none;
    }
    a:hover,
    a:active{ 
        background: #eee; 
        border-top: 1px solid #fff;
        border-bottom: 1px solid #888;
        color: #111; 
    }
    h1 { font-size: 2em; }
}

footer {
    background: @hl1;
    box-shadow: 0 1px 0 0 #8AC978 inset;
    padding: 5px;
    p { 
        margin: 0;
        text-align: center;
    }
}

section.blag,
section.blog {
    article {
        line-height: 1.4em;
        padding: 1.4em;
        header {
            overflow: hidden; 
        }
        h3 {
            color: @bg1;
            font-size: 22px;
        }
        .date {
            color: @hl1;
            font-size: 14px;
            margin: 0;
            text-align: right;
        }
        .inline.code {
            background: @bg2;
            border-radius: 4px;
            padding: 1px 3px 1px 3px;
        }
        a {
            color: @hl1;
            text-decoration: none;
            border-bottom: 2px solid @hl1;
        }
        pre.code {
            background: #eee;
            box-shadow: 0 0 3px 2px #ddd inset;
            font-size: 14px;
            padding: 10px 0 10px 0;
            margin-left: -20px;
        }
        ol li { padding: 6px 0 6px 0; }
    }
}

@media screen and (min-width: 980px) {
    section.sidebar {
        border-right: 1px solid #F46169;
        height: 100%;
        position: fixed;
        width: 25%;
        .title { padding: 20px 0 20px 0; }
        .full { display: block; }
        .you-are-here {
            font-size: 1.8em;
            padding: 1em;
            width: 100.14%;
        }
    }

    nav.mobile {
        display: none;
    }

    nav.full {
        background: rgba(0,0,0,0.8);
        display: block;
        overflow: hidden;
        width: 100%;
        ul {
            float: right;
            padding: 0;
        }
        li {
            float: left;
            list-style: none;
            border-right: 1px solid #777;
        }
        li:last-child {
            border-right: none;

        }
        a {
            color: @bg1;
            display: block;
            text-decoration: none;
            text-align: center;
            padding: 10px;
            width: 100px;
        }

        a:hover {
            color: #eee;
            background: @hl1;
        }
    }

    section.main {
        float: right;
        width: 75%;
    }
    
    section.content {
        box-shadow: 2px 1px 2px 0px grey inset;
    }

    section.blag,
    section.blog {
            margin: 0 auto;
            width: 60%;
    }

    footer {
        bottom: 0;
        clear: right;
        position: fixed;
        width: 100%;
    }
}

