{% extends "layouts/layout.html" %}
{% block body %}
    <section class="grid">
        <a class="grid-box top" href="http://nerdha.us/portfolio"><h4>look at my</h4><h1>PORTFOLIO</h1></a>
        <a class="grid-box mid blog" href="http://nerdha.us/blog"><h4>listen to me talk</h4><h1>BLOG</h1></a>
        <a class="grid-box mid blag" href="http://nerdha.us/blag"><h4>tell us how it is</h4><h1>BLAG</h1></a>
        <a class="grid-box bottom" href="http://nerdha.us/shows"><h4>check out our</h4><h1>HAUS SHOWS</h1></a>
    </section>
{% endblock %}
