body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: #eee;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    height: 100%;
    min-height: 100%;
}

.wrap > aside {
    background: url('http://i4.mirror.co.uk/incoming/article1130524.ece/ALTERNATES/s2197/Russian%27s%20argue%20over%20a%20traffic%20incident-1130524') 0 0;
    background-size: cover;
    border-right: 1px solid #333;
    box-shadow: 0px 0 0 1px #ccc inset;
    height: 100%;    
    position: fixed;
    width: 30%;
}

.wrap > aside .content {
    background: rgba(0, 0, 0, 0.5);
    margin: 10em auto 0 auto;
    padding: 1em;
}

.wrap > aside .content a {
    color: #ddd;
    text-decoration: none; 
}

.wrap > aside nav {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    margin: 2em auto 0 auto;
    width: 70%;
}

.wrap > aside nav:hover {
    border-radius: 3px;
}

.wrap > aside nav ul li {
    list-style: none;
}

.wrap > aside nav ul li a {
    color: #ccc;
    display: block;
    font-size: 18px;
    padding: 0.9em;
    text-decoration: none;
}

.wrap > aside nav ul li a:hover {
    background: #ccc;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.5);
}

section.content {
    float: right;
    margin-top: 2em;
    width: 50%;
}

section.content article {
    margin-bottom: 3em;
    width: 70%;
}

section.content article p {
    margin-bottom: 1em;
}

section.content article span.date {
    float: right;
    font-size: 14px;
    line-height: 24px;
}
