@import url("mixins.less");
// resets

@tan: #FAFAFA;
@lightBlue: #E8FBFE;
@bgBlue: #6DC6DD;
@hlGreen: #BCF794;
@lightGreen: #82C555;
@darkGreen: #445544;
@grey: #1E1E1E;
@red: #800000;
@orange: #FF7800;

.lightBlue { background: @lightBlue; }	
.hlGreen { background: @hlGreen; }	
.lightGreen { background: @lightGreen; }	
.darkGreen { background: @darkGreen; }	

.red-font { color: @red; }
.orange-font { color: @orange; }
.green-font { color: @lightGreen; }
.dark-green-font { color: @hlGreen; }

.grad1 { #gradient.radial(@lightBlue, @hlGreen); }

.fixed {
  position: fixed;  
}

.align-right {
  text-align: right;
}

body {
	background: @bgBlue;
	font-family: Arial, sans-serif;
}

body,html,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
    list-style: none;
}

#bill-meta {
   background: @tan; 
   padding: .5em;
}

.bill {
  border-bottom: 1px dashed #ebebeb;
  background: #1e1e1e;
  color: #ebebeb;
  padding: .6em;
}

.bill:last-child {
  border-bottom: none;
}

#bills-list {
}

#guess-date-form {
  display: none;
}

#date-guess-label {
  font-size: 12px;
}

#new-bill-form {
  background: #1e1e1e;
  color: #ebebeb;
  padding: .6em;
}

#new-bill-form label,
#new-bill-form input, 
#new-bill-form textarea {
  display: block;
}

@media only screen and (min-width: 48em) {
    .bill {
      text-align: right;
    }

    #bill-meta {
      position: fixed;
      min-height: 800px;
    }

    #guess-date-form {
      display: block;
    }
}
