{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="columns large-6 large-centered">
        <h1>Edit a Bill</h1>
    </div>
</div>

<div class="row">
    <div class="columns large-4 large-centered">
        <form id="new-bill-form" method="post" action="/edit_bill/{{ form.id.data }}">
            {% if form.errors %}
                {% for err in form.errors.items() %}
                    <p> {{ err }} </p> 
                {% endfor %}
            {% endif %}
                {{ form.id() }}
                
                {{ form.name.label }}
                {{ form.name() }}
                
                {{ form.pay_to.label }}
                {{ form.pay_to() }}
                
                {{ form.amount_due.label }}
                {{ form.amount_due() }}

                {{ form.date_due.label }}
                {{ form.date_due() }}
                
                {{ form.amount_late.label }}
                {{ form.amount_late() }}
                
                {{ form.date_late.label }}
                {{ form.date_late() }}
                
                {{ form.date_termination.label }}
                {{ form.date_termination() }}
                
                <input type="submit" value="gogogo" />
        </form>
    </div>
</div>
{% endblock %}
