{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="columns large-6 large-centered">
        <h1>Edit a Bill</h1>
    </div>
</div>

<div class="row">
    <div class="columns large-4 large-centered">
        <form id="new-bill-form" method="post" action="/create_bill">
                {{ form.b_id() }}
                
                {{ form.name.label }}
                {{ form.name() }}
                
                {{ form.pay_to.label }}
                {{ form.pay_to() }}
                
                {{ form.due_date.label }}
                {{ form.due_date() }}
                
                {{ form.due_amount.label }}
                {{ form.due_amount() }}
                
                {{ form.late_after_date.label }}
                {{ form.late_after_date() }}
                
                {{ form.late_amount.label }}
                {{ form.late_amount() }}
                
                {{ form.termination_date.label }}
                {{ form.termination_date() }}
                
                <input type="submit" value="gogogo" />
        </form>
    </div>
</div>
    {% endblock %}
