{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="large-4 columns push-8">
        <div id="bill-meta">
        <h1>HiveMind</h1>
        <h5>Welcome to Haus Central</h5>
            {% if bill_meta %}
            <!-- NEXT DUE -->
            <p id="next-bill-due" class="orange-font"> nearest due bill: <br />
            {{ bill_meta['next_due_name'] }} on {{ bill_meta['next_due'] }} </p>

            <!-- LATE LIST -->
            {% if bill_meta['late_list'] %}
            <p id="late-bills" > late bills: </p>
            <ul>
                {% for late_bill in bill_meta['late_list'] %}
                <li class="red-font"> {{ late_bill }} </li>    
                {% endfor %}
            </ul>
            {% endif %}

            <!-- NEXT TERMINATED -->
            {% if bill_meta['next_term'] %}
            <p> next terminated bill: <br />
            {{ bill_meta['next_term'] }} </p>
            {% endif %}
            {% endif %}
        <a href="/new" class="button">new bill</a>

        <div class="columns large-12">
            <form id="guess-date-form" method="POST" action="/guess_date">
                <label for="date_guess" id="date-guess-label">What day to you think it is?</label>
                <input type="text" id="date-guess" />
            </form>
            <script type="application/javascript">
                $(document).ready(function() {
                        $('#date-guess').datepicker();

                        $('#date-input').bind('change', function() {
                            var selectedDate = $(this).val();
                            var prettyDate = new Date(selectedDate).format('fullDate');
                            $('#date-text').html(prettyDate);
                            });
                        });
            </script>
        </div>
        </div>
    </div> <!-- END BILL META -->

    <div class="columns large-4 pull-4">
    <ol id="bills-list">
    {% if bills %}
        {% for bill in bills %}
            <li class="bill"><ul>
                <li>Name: {{ bill.name }} </li>

                <li>Pay To: {{ bill.pay_to }} </li>

                <li>Amount Due: <span class="dark-green-font"> 
                    {{ bill.due_amount }} </span> </li>

                <li>Date Due: {{ bill.due_date }} </li>

                <li>Late Amount: <span class="orange-font"> 
                    {{ bill.late_amount }} </span></li>

                <li>Late After Date: {{ bill.late_after_date }} </li>

                <li>Termination Date: <span class="red-font">
                    {{ bill.termination_date }} </span> </li>

                <li>Per Roommate Split: <span class="green-font">
                    {{ bill.split }}</span> </li>

                <li>
                  <a href="/delete/{{bill.id}}">delete</a> 
                  <a href="/edit_bill/{{bill.id}}">edit</a>
                </li>
                </ul>
            </li>
        {% endfor %}
    </ol>
    {% else %}
        {% with fmessage = get_flashed_messages() %}
        <h2> {{ fmessage[0] }} </h2>
        {% endwith %}
        {% endif %}
    </div>
</div>
{% endblock %}
