{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="large-6 columns push-8">
        <div id="bill-meta">
            <h1>HiveMind</h1>
            <h5>Welcome to Haus Central</h5>
            <a href="/new" class="button">new bill</a>
                <!--
            <div class="columns large-12">
                <form id="guess-date-form" method="POST" action="/guess_date">
                    <label for="date_guess" id="date-guess-label">What day do you think it is?</label>
                    <input type="text" id="date-guess" />
                </form>
                <script type="application/javascript">
                    $(document).ready(function() {
                            $('#date-guess').datepicker();

                            $('#date-input').bind('change', function() {
                                var selectedDate = $(this).val();
                                var prettyDate = new Date(selectedDate).format('fullDate');
                                $('#date-text').html(prettyDate);
                                });
                            });
                </script>
            </div>
                -->
        </div>
    </div> <!-- END BILL META -->

    <div id="bills-wrapper" class="columns large-4 pull-4">
    <ol id="bills-list">
    {% if bills %}
        {% for bill in bills %}
            <li class="bill"><ul>
                <li>Name: {{ bill.name }} </li>

                <li>Pay To: {{ bill.pay_to }} </li>

                <li>Amount Due: <span class="dark-green-font"> 
                    {{ bill.amount_due / 100 }} </span> </li>

                <li>Date Due: <span class="dark-green-font">
                    {{ bill.date_due }} </span></li>

                <li>Late Amount: <span class="orange-font"> 
                    {{ bill.amount_late / 100 }} </span></li>

                <li>Late After Date: <span class="orange-font">
                    {{ bill.date_late }} </span></li>

                <li>Termination Date: <span class="red-font">
                    {{ bill.date_termination }} </span> </li>

                <li>Per Roommate Split: <span class="green-font">
                    {{ bill.amount_due / 100 / 4 }}</span> </li>

                <li>
                  <a href="/delete/{{bill.id}}">delete</a> 
                  <a href="/edit_bill/{{bill.id}}">edit</a>
                </li>
                </ul>
            </li>
        {% endfor %}
    </ol>
    {% else %}
        {% with fmessage = get_flashed_messages() %}
        <h2> {{ fmessage[0] }} </h2>
        {% endwith %}
        {% endif %}
    </div>
</div>
{% endblock %}
