{% extends "layout.html" %}
{% block body %}
<article>
    <h3> night hike: the setup <span class="date">7/1/2013</span></h3>
    <p> 
       this 4th of july we'll be engaging in the first night hike.  should be fun.  i'll post the route below.  for extra pop,  we'll be encouraging participants to bring along their favorite fireworks. 
    </p>
</article>

<article>
    <h3> welcome to the hive mind,  nerdhaus central <span class="date">7/1/2013</span></h3>
    <p>
        a log of the activities of the haus.  see this domain for tech, culture, and a running commentary of our work and escapades.  
    </p>

    <p> also note that the blog is open for submissions.  </p>

</article>

{% endblock %}
