<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}NerdHaus{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="outer">
            <aside>
                {% block aside_content %}
                <div class="content">
                    <h1> NerdHaus </h1>
                    <h2> The Haus That Nerds Built </h2>
                </div>
                {% endblock %}
            </aside>

            <section class="content">
                {% block body %}
                {% endblock %}
            </section>

            {% block footer %}
            {% endblock %}
        </div>
    </body>
</html>

