<html>
<head>
</head>
<body>
<form method="post" action="/create_bill">
    <ul>
        <li><label for="name"> name: </label></li>
        <li><input id="name" name="name" type="text" /></li>

        <li><label for="pay_to"> pay to: </label></li>
        <li><input id="pay_to" name="pay_to" type="text" />    </li>

        <li><label for="due_date"> due date: </label></li>
        <li><input id="due_date" name="due_date" type="text" />    </li>
        
        <li><label for="due_amount"> due_amount: </label></li>
        <li><input id="due_amount" name="due_amount" type="text" />    </li>
        
        <li><label for="late_after_date"> late after date: </label></li>
        <li><input id="late_after_date" name="late_after_date" type="text" />    </li>

        <li><label for="late_amount"> late amount: </label></li>
        <li><input id="late_amount" name="late_amount" type="text" />    </li>
        
        <li><label for="termination_date"> term date: </label></li>
        <li><input id="termination_date" name="termination_date" type="text" />    </li>

        <li><input type="submit" value="gogogo" /> </li>
    </ul>
</form>
</body>
</html>
