{% extends "layouts/layout.html" %}
{% block title %}Blag{% endblock %}
{% block you_are_here %}The Blag{% endblock %}
{% block body %}
<section class="blag">
    <article>
        <h3> Perspective <p class="date">7/30/2013</p></h3>
        <h4> by <a href="http://ebanis.tumblr.com/">CJ Summers </a></h4>
        <p>
        These days, it is remarkably easy to lose the details of what is
        happening, often because it is presented exclusively in regards to a
        single element of its context. We see the conflicts in various Middle
        Eastern and African nations being exclusively framed as Sectarian in
        nature, be it Sunni vs. Shiite or Secular vs. Islamist – rather than as
        a fraction of the larger picture, the fact that mundane things like food
        supplies and economics tend to have far more to do with political dissent and
        uprising than ideals. It is tempting to write this off as a
        critique of the providers of news, but that is not enough; we have to
        realize it is to some degree our fault as well. When we accept black and
        white arguments without question, we do ourselves a great disservice: We
        refuse to learn the greater context of the issue at hand. The truth of
        the matter is, we live in a world of greys. Nothing is clear cut, and
        every decision we or our political bodies make has varied consequences.
        Dismissing the news for being boring or depressing is your choice, but
        if you ignore events going on that affect you – and we are all affected
        by much of the news coming out in the States nowadays – where will you
        be when the opportunity comes around to do something about it? I can say
        with confidence that everyone has an opinion on issues like mass
        surveillance of Internet traffic. Everyone has an opinion when human
        lives are on the line, even distant ones. With that in mind, let's think
        for a moment about what America looks like from the outside.
        </p>

        <p>
        This country came out of a massive civil war some 150 years ago in rough shape,
        leading to some pretty major cultural divides but eventually regaining
        functionality. Since then, political power has primarily been shared between two
        parties, though they flip-flop over which is in charge every four years or so.
        Third parties are allowed and even manage some small victories in local
        elections, but any time one gets enough support to really put up a fight on the
        national level, the rules are changed and they are cast out again. So it is not
        surprising that despite televised debates and supposedly intense elections, the
        actual political makeup of America's ruling bodies has changed very little over
        time – the two powers are always nominatively at odds, but have a strange way of
        coming together over things that benefit their role as the ruling class –
        surveillance, funding allocations, regulations for election campaigns, that kind
        of thing.  
        </p>

        <p>
        Implicit in this farce is our big-budget media, backed by the same investors as
        most of the politicians mentioned above. Their role is not only to polarize the
        issues between the two factions but to spin the things they do manage to
        accomplish in a positive way: Getting rid of campaign donation restrictions
        benefits free speech, mass surveillance is necessary to prevent terrorism, etc.
        These organizations are not necessarily made of abhorrent people, but they are
        told what they can and can not say by business savvy sorts that are funded by
        the same people as the ruling class. This conflict of interest is immensely
        detrimental to journalism, because the world is so complicated that we need news
        aggregates to keep up with anything beyond the local level – and our perceptions
        are shaped based on the news we see, and increasingly the stories are framed by
        the ruling class of wealthy people. Look to the mainstream's coverage of the
        Occupy protests, or the Trayvon Martin case, as compared to the coverage offered
        by numerous independent outlets, for examples of how this can go wrong.  Even if
        we lack an actual state-owned media, such as Egypt's, it is the people in power
        calling the shots on everything we hear from it. Why would they ever report
        favorably on something that shows them to be in the wrong?
        </p>

        <p>
        So this is the situation the rest of the world sees: A superpower that
        claims the virtue of democracy, in which the main legislative body is
        dysfunctional (as indicated by the 2012 congress being one of the least
        productive in decades); a country where the executive arm of
        the government can wage war without the legislative body's and therefore
        peoples' consent, and in which the top leaders are all elected in large
        part based on the amount of money they can raise from largely corporate
        sponsors. If, as stated by noted expert on the subject Benito Mussolini,
        Fascism is a “Merger of state and corporate interests”, America has an
        absolutely brilliant setup for it to flourish, and they can even say it
        was the result of public choice. As a citizen of any part of the world
        you can only see America as a juggernaut of a country, with the biggest
        military the world has ever seen, already lashing out at countries like
        Iraq or Pakistan for reasons that benefit a network of defense industry
        partners far more than any American citizen.  Looking at America as an
        outsider leads to two thoughts; The first, “When will the nation's
        appetite for resources and wealth bring it to my shores?”, quickly
        followed by the second: “What can I do to stop it?”
        </p> 

        <p>
        This is the point at which the interests of those on the inside and those on the
        outside intersect. We as citizens must realize that this is to some degree our
        fault – We did not push, be it through direct action, legislation, or organized
        dissent, hard enough when we saw corruption in our country. We were complicit in
        not holding anyone accountable for the recent financial crisis, did not question
        the dirty wars started by our leaders without our or congress' consent, and did
        not care when innocent people in other countries died for, as it was argued, our
        safety. We are not entirely to blame for the executive power grabs made in
        recent years, but building resistance against further trespasses is on us.
        </p>

        <p>
        If you take anything from this, realize that apathy is not a sufficient answer
        to our problems. If we continue failing to oppose the direction our country is
        headed in, we will be complicit in the atrocities it commits. Politics is hard,
        following the news takes time, and discussing issues with friends can be
        divisive – but if we do not start paying attention to the issues at hand,
        questioning what we are told, and searching for our own answers, we will soon be
        citizens of the most powerful fascist nation the world has ever seen. Avoiding
        that is worth a few minutes reading of some news on the Internet every day,
        voting against the ruling parties, and showing nonviolent resistance where it
        can do good. What we write off as “just politics”, filing it as some kind of
        distraction, affects every citizen of the world. Is it not time to start paying
        attention?
        </p>
    </article>
</section>
{% endblock %}
